{% extends "base.html" %} {% block title %}Главная - ChemLab{% endblock %} 
{% block content %}
<div class="container">
  <h1>Добро пожаловать в виртуальную химическую лабораторию!</h1>
  <p>Изучайте химию через эксперименты, тесты и интересные факты.</p>
  <a href="" class="button">Начать</a>
</div>

<!-- Раздел с описанием возможностей -->
<section class="features">
  <div class="card">
    <h2>Интерактивная лаборатория</h2>
    <p>
      Проводите эксперименты, смешивайте реактивы и наблюдайте за результатами.
    </p>
  </div>
  <div class="card">
    <h2>Тесты по химии</h2>
    <p>Проверьте свои знания, проходя различные тесты по химии.</p>
  </div>
  <div class="card">
    <h2>Факты и теория</h2>
    <p>Узнайте интересные факты о химии и изучите основные законы.</p>
  </div>
  <div class="card">
    <h2>Таблица Менделеева</h2>
    <p>Исследуйте химические элементы с их подробным описанием.</p>
  </div>
</section>
{% endblock %}
